@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  /* background-image: url('https://www.codlearningtech.org/wp-content/uploads/2020/07/discussionboard-1.png'); */
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  /* background-color:rgb(121, 121, 240); */
  /* margin: 20px;
  padding: 15px; */
  /* background-color:rgb(166, 10, 244); */
  background-color: #4A369B;
}
nav button{
  font-size:20px;
  color: white;

}
ul button{
  background-color:rgb(94, 9, 136);
  padding: 5px;
  border-radius: 10px;
  margin-right: 50px;
  color: white;
}
.login-container{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
box-shadow: 5px 10px 5px 10px lightgray;
}
.login-container h2{
  display: flex;
  justify-content: center;
  font-weight:bold ;
  font-size: large;
}
.login-options button{
  display: flex;
  background-color: cyan;
  border-radius: 10px;
  padding: 10px;
  
}
.login-options{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}

.container{
  /* width: 100%; */
  /* max-width: auto-resize; */
  display: flex;
  background-image: url('https://assets.materialup.com/uploads/13d00ae4-b90b-41e1-b976-fc06dff8de12/preview.png');
  
  height: 100vh;
  /* max-height: max-content; */
  background-size: 100% 100%;
  background-repeat:repeat;
  /* background-color: #1A1A1A; */
}

.container h1{
  text-align: center;
  font-weight:bold ;
  font-size: 40px;
  color:black;
} 
.intro button{
  display: flex;
  justify-content: center;
  background-color: #4A369B;
  height:50px;
  width: 100px;
  margin-left:300px;  
}
.intro p{
  margin-left:30px;
  font: 20px;
}

.intro {
  display: flex;
  flex-direction: column;
  margin:auto;
  width:50%;
  filter:brightness(100%);
  margin-top:200px;
  opacity:2;
  background-color: white;
  border: black solid 2px;
  height: 30vh;
  border-radius: 50px;
}
@media screen and (min-width: 1400px) {
.container{
    min-width: 100%;
 }

 .intro {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  filter: brightness(100%);
  margin-top: 200px;
  opacity: 2;
  background-color: white;
  border: black solid 2px;
  height: 25vh;
  border-radius: 50px;
}

.intro button{
display: flex;
justify-content: center;
background-color: #4A369B;
height:50px;
width: 100px;
margin-left:280px; 
margin-top: 20px; 
color: white;
}  
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .container{
      min-width: 100%;
   }

   .intro {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    filter: brightness(100%);
    margin-top: 200px;
    opacity: 2;
    background-color: white;
    border: black solid 2px;
    height: 25vh;
    border-radius: 50px;
}

.intro button{
  display: flex;
  justify-content: center;
  background-color: #4A369B;
  height:50px;
  width: 100px;
  margin-left:280px; 
  margin-top: 20px; 
  color: white;
}  

  }

  @media screen and (min-width: 375px) and (max-width: 389px) {
    .container{
      display: flex;
      flex-direction: column;
        min-width: 170%;
        height: 1200px;
        /* height: 170px;
        background-size: 100% 100%;
        background-repeat: no-repeat; */
     }
     .intro {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 50%;
      filter: brightness(100%);
      margin-top: 200px;
      opacity: 2;
      background-color: white;
      border: black solid 2px;
      height: 45vh;
      border-radius: 50px;
  }

  .intro button{
    display: flex;
    justify-content: center;
    background-color: #4A369B;
    height:50px;
    width: 100px;
    margin-left:90px; 
    margin-top: 20px; 
    color: white;
  }
     nav{
      min-width: 170%;
     }
  
 
  }
  @media screen and (min-width: 390px) and (max-width: 411px) {
    .container{
      display: flex;
      flex-direction: column;
        min-width: 170%;
        height: 1400px;
        /* height: 170px;
        background-size: 100% 100%;
        background-repeat: no-repeat; */
     }
     .intro {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 50%;
      filter: brightness(100%);
      margin-top: 200px;
      opacity: 2;
      background-color: white;
      border: black solid 2px;
      height: 35vh;
      border-radius: 50px;
  }

  .intro button{
    display: flex;
    justify-content: center;
    background-color: #4A369B;
    height:50px;
    width: 100px;
    margin-left:100px; 
    margin-top: 20px; 
    color: white;
  }
     nav{
      min-width: 170%;
     }
  
  
  }
  @media screen and (min-width: 281px) and (max-width: 375px) {
    .container{
      display: flex;
      flex-direction: column;
        min-width: 170%;
        height: 1400px;
        /* height: 170px;
        background-size: 100% 100%;
        background-repeat: no-repeat; */
     }
     .intro {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 50%;
      filter: brightness(100%);
      margin-top: 200px;
      opacity: 2;
      background-color: white;
      border: black solid 2px;
      height: 40vh;
      border-radius: 50px;
  }

  .intro button{
    display: flex;
    justify-content: center;
    background-color: #4A369B;
    height:50px;
    width: 100px;
    margin-left:90px; 
    margin-top: 20px; 
    color: white;
  }
     nav{
      min-width: 170%;
     }
  
  }

  @media screen  and (max-width: 280px) {
    .container{
      display: flex;
      flex-direction: column;
        min-width: 210%;
        height: 1400px;
        /* height: 170px;
        background-size: 100% 100%;
        background-repeat: no-repeat; */
     }
     .intro {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 50%;
      filter: brightness(100%);
      margin-top: 200px;
      opacity: 2;
      background-color: white;
      border: black solid 2px;
      height: 50vh;
      border-radius: 50px;
  }

  .intro button{
    display: flex;
    justify-content: center;
    background-color: #4A369B;
    height:50px;
    width: 100px;
    margin-left:90px;  
    margin-top: 20px; 
    color: white;
  }
     nav{
      min-width: 210%;
     }
  
  }
  @media screen and (min-width: 412px) and (max-width: 545px) {
    .container{
      
        display: flex;
        flex-direction: column;
          min-width: 170%;
          height: 1500px;
        /* height: 170px;
        background-size: 100% 100%;
        background-repeat: no-repeat; */
     }

     .intro {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 50%;
      filter: brightness(100%);
      margin-top: 200px;
      opacity: 2;
      background-color: white;
      border: black solid 2px;
      height: 30vh;
      border-radius: 50px;
  }

  .intro button{
    display: flex;
    justify-content: center;
    background-color: #4A369B;
    height:50px;
    width: 100px;
    margin-left:130px; 
    margin-top: 20px; 
    color: white;
  }
     nav{
      min-width: 170%;
     }
  }

  @media screen and (min-width: 545px) and (max-width: 820px) {
    .container{
        min-width: 100%;
        /* height: 170px;
        background-size: 100% 100%;
        background-repeat: no-repeat; */
     }
     .intro {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 50%;
      filter: brightness(100%);
      margin-top: 200px;
      opacity: 2;
      background-color: white;
      border: black solid 2px;
      height: 25vh;
      border-radius: 50px;
  }

  .intro button{
    display: flex;
    justify-content: center;
    background-color: #4A369B;
    height:50px;
    width: 100px;
    margin-left:140px; 
    margin-top: 20px; 
    color: white;
  }
  }

  @media screen and (min-width: 820px) and (max-width: 1023px) {
    .container{
        min-width: 100%;
        /* height: 170px;
        background-size: 100% 100%;
        background-repeat: no-repeat; */
     }
     .intro {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 50%;
      filter: brightness(100%);
      margin-top: 200px;
      opacity: 2;
      background-color: white;
      border: black solid 2px;
      height: 22vh;
      border-radius: 50px;
  }

  .intro button{
    display: flex;
    justify-content: center;
    background-color: #4A369B;
    height:50px;
    width: 100px;
    margin-left:140px; 
    margin-top: 20px; 
    color: white;
  }
  }
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    .container{
        min-width: 100%;
        /* height: 170px;
        background-size: 100% 100%;
        background-repeat: no-repeat; */
     }
     .intro {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 50%;
      filter: brightness(100%);
      margin-top: 200px;
      opacity: 2;
      background-color: white;
      border: black solid 2px;
      height: 30vh;
      border-radius: 50px;
  }

  .intro button{
    display: flex;
    justify-content: center;
    background-color: #4A369B;
    height:50px;
    width: 100px;
    margin-left:180px; 
    margin-top: 25px; 
    color: white;
  }
  }


  .post-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border: 2px black solid;
    border-radius: 15px;
    margin-bottom: 20px;

  }